{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="/static/build/css/custom.min.css" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock head %}

{% block container %}
    {{ super() }}
    <div class="container body">
        <div class="main_container">
            {% include 'left_col.html' %}
            {% include 'top_navigation.html' %}



            <div role="main" class="right_col" style="min-height: 1036px;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3> Media Gallery <small> gallery design</small> </h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" placeholder="Search for..." class="form-control">
                                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">Go!</button>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Media Gallery <small> gallery design </small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                                            <ul role="menu" class="dropdown-menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="row">

                                        <p>Media gallery design emelents</p>

                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask">
                                                        <p>Your Text</p>
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p>Snow and Ice Incoming for the South</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask">
                                                        <p>Your Text</p>
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p>Snow and Ice Incoming for the South</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask">
                                                        <p>Your Text</p>
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p>Snow and Ice Incoming for the South</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask">
                                                        <p>Your Text</p>
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p>Snow and Ice Incoming for the South</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask">
                                                        <p>Your Text</p>
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p>Snow and Ice Incoming for the South</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask no-caption">
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p><strong>Image Name</strong>
                                                    </p>
                                                    <p>Snow and Ice Incoming</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask no-caption">
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p><strong>Image Name</strong>
                                                    </p>
                                                    <p>Snow and Ice Incoming</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask no-caption">
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p><strong>Image Name</strong>
                                                    </p>
                                                    <p>Snow and Ice Incoming</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask no-caption">
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p><strong>Image Name</strong>
                                                    </p>
                                                    <p>Snow and Ice Incoming</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-55">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img alt="image" src="images/media.jpg" style="width: 100%; display: block;">
                                                    <div class="mask no-caption">
                                                        <div class="tools tools-bottom">
                                                            <a href="#"><i class="fa fa-link"></i></a>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption">
                                                    <p><strong>Image Name</strong>
                                                    </p>
                                                    <p>Snow and Ice Incoming</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            {% include 'footer.html' %}
        </div>
    </div>
    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/vendors/nprogress/nprogress.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.min.js"></script>


{% endblock container %}
