{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
{#    <link href="/static/build/css/custom.min.css" rel="stylesheet">#}
    <link href="/static/css/custom.css" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
{% endblock %}
{% block container %}
    {{ super() }}
<div class="container body">
    <div class="main_container">
        {% include 'left_col.html' %}
        {% include 'top_navigation.html' %}


        <!-- page content -->

        <div role="main" class="right_col" style="min-height: 1172px;">


            <div class="modal fade bs-example-modal-lg" id="edituserprofilemodal">
                <div class="modal-dialog modal-lg">

                     <div class="x_panel">
                            <div class="x_title">
                                <h2>Edit User Profile<small>{{ g.user.username }}</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br>
                                <form class="form-horizontal form-label-left" method="POST" id="demo-form2" action="{{ url_for('EditProfiles', username=g.user.username ) }}">
                                    {{ form.csrf_token() }}

                                    <div class="form-group">
                                        <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">First Name <span class="required"></span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.firstname(class='form-control col-md-7 col-xs-12', id='first-name') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="last-name" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name <span class="required"></span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.lastname(class='form-control col-md-7 col-xs-12', id='last-name') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Location">Location</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.location(class='form-control col-md-7 col-xs-12', id='location') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">email</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form.email(class='form-control col-md-7 col-xs-12', id='email') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Role</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             {{ form.role(id='role') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Phone</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form.phone(id='phone', class="form-control col-md-7 col-xs-12") }}
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                            {{ form.submit(class='btn btn-success') }}
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>


                </div>
            </div>



            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3><strong>User Profile</strong></h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" placeholder="Search for..." class="form-control">
                                <span class="input-group-btn">
                      <button type="button" class="btn btn-default">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>User Report</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                    <div class="profile_img">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            {% if g.user.getmaster.picture is not none %}
                                                <img title="Change {{ g.user.username }} Picture" alt="Picture" src="{{ g.user.getmaster.picture }}" class="img-responsive avatar-view">
                                            {% else %}
                                                <img title="Change {{ g.user.username }} Picture" alt="Picture" src="{{ g.systemsetting.picture }}" class="img-responsive avatar-view">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <h3><strong>{{ g.user.username }}</strong></h3>

                                    <ul class="list-unstyled user_data">
                                        <li><i class="fa fa-map-marker user-profile-icon"></i> Location: {{ g.user.getmaster.location }}
                                        </li>

                                        <li>
                                            <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                                        </li>

                                        <li class="m-top-xs">
                                            <i class="fa fa-external-link user-profile-icon"></i>
                                            <a target="_blank" href="http://www.kimlabs.com/profile/">www.kimlabs.com</a>
                                        </li>
                                    </ul>

                                    <a class="btn btn-success" data-toggle="modal" data-target="#edituserprofilemodal"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                                    <br>

                                    <!-- start skills -->
                                    <h4>Skills</h4>
                                    <ul class="list-unstyled user_data">
                                        <li>
                                            <p>Web Applications</p>
                                            <div class="progress progress_sm">
                                                <div data-transitiongoal="50" role="progressbar" class="progress-bar bg-green" style="width: 50%;" aria-valuenow="50"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>Website Design</p>
                                            <div class="progress progress_sm">
                                                <div data-transitiongoal="70" role="progressbar" class="progress-bar bg-green" style="width: 70%;" aria-valuenow="70"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>Automation &amp; Testing</p>
                                            <div class="progress progress_sm">
                                                <div data-transitiongoal="30" role="progressbar" class="progress-bar bg-green" style="width: 30%;" aria-valuenow="29"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>UI / UX</p>
                                            <div class="progress progress_sm">
                                                <div data-transitiongoal="50" role="progressbar" class="progress-bar bg-green" style="width: 50%;" aria-valuenow="50"></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- end of skills -->

                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">

                                    <div class="profile_title">
                                        <div class="col-md-6">
                                            <h2>WebSite Statistic</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED" class="pull-right" id="reportrange">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                <span>August 2, 2016 - August 31, 2016</span> <b class="caret"></b>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end of user-activity-graph -->
                                    <div data-example-id="togglable-tabs" role="tabpanel" class="">
                                        <ul role="tablist" class="nav nav-tabs bar_tabs" id="myTab">
                                            <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" id="profile-tab2" role="tab" href="#tab_content3">Profile</a>
                                            </li>
                                            <li class="" role="presentation"><a aria-expanded="false" data-toggle="tab" role="tab" id="home-tab" href="#tab_content1">Recent Activity</a>
                                            </li>
                                            <li class="" role="presentation"><a aria-expanded="false" data-toggle="tab" id="profile-tab" role="tab" href="#tab_content2">Category</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">

                                            <div aria-labelledby="home-tab" id="tab_content1" class="tab-pane fade " role="tabpanel">

                                                <!-- start recent activity -->
                                                <ul class="messages">
                                                    <li>
                                                        <img alt="Avatar" class="avatar" src="images/img.jpg">
                                                        <div class="message_date">
                                                            <h3 class="date text-info">24</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Desmond Davison</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br>
                                                            <p class="url">
                                                                <span data-icon="" aria-hidden="true" class="fs1 text-info"></span>
                                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img alt="Avatar" class="avatar" src="images/img.jpg">
                                                        <div class="message_date">
                                                            <h3 class="date text-error">21</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Brian Michaels</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br>
                                                            <p class="url">
                                                                <span data-icon="" aria-hidden="true" class="fs1"></span>
                                                                <a data-original-title="" href="#">Download</a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img alt="Avatar" class="avatar" src="images/img.jpg">
                                                        <div class="message_date">
                                                            <h3 class="date text-info">24</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Desmond Davison</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br>
                                                            <p class="url">
                                                                <span data-icon="" aria-hidden="true" class="fs1 text-info"></span>
                                                                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img alt="Avatar" class="avatar" src="images/img.jpg">
                                                        <div class="message_date">
                                                            <h3 class="date text-error">21</h3>
                                                            <p class="month">May</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading">Brian Michaels</h4>
                                                            <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                            <br>
                                                            <p class="url">
                                                                <span data-icon="" aria-hidden="true" class="fs1"></span>
                                                                <a data-original-title="" href="#">Download</a>
                                                            </p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <!-- end recent activity -->

                                            </div>

                                            <div aria-labelledby="profile-tab" id="tab_content2" class="tab-pane fade" role="tabpanel">

                                                <!-- start user projects -->
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Category Name</th>
                                                        <th>Manager</th>
                                                        <th class="hidden-phone">Posts Count</th>
                                                        <th>Category Statistic</th>
                                                    </tr>
                                                    </thead>
                                                    {% set c=1 %}
                                                    <tbody>
                                                    {% for category in categorydb %}
                                                        <tr>
                                                            <td>{{ c }}</td>
                                                            <td>{{ category.name }}</td>
                                                            <td>{{ category.get_manager.username }}</td>
                                                            {% set post = category.post %}
                                                            <td>{{ post.count() }}</td>
                                                            <td class="vertical-align-mid">
                                                                <div class="progress">
                                                                    <div data-transitiongoal="{{ category.clicks }}" class="progress-bar progress-bar-success" style="width: 15%;" aria-valuenow="{{ category.clicks }}"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% set c = c+1 %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <!-- end user projects -->

                                            </div>

                                            <div aria-labelledby="profile-tab" id="tab_content3" class="tab-pane fade active in" role="tabpanel">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /page content -->

        <!-- footer content -->
        {% include 'footer.html' %}
        <!-- /footer content -->

    </div>
</div>
    <!-- jQuery -->
{#    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>#}
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/js/moment/moment.min.js"></script>
    <script src="/static/js/datepicker/daterangepicker.js"></script>

    <script src="/static/vendors/raphael/raphael.min.js"></script>
    <script src="/static/vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script>
    $(document).ready(function () {
        $.ajax({
            type: 'get',
            url: '{{ url_for('EditProfileAboutme', username=g.user.username) }}',
            success: function (data) {
                $('#tab_content3').html(data)
            }
        });
    })
    </script>
{% endblock %}
