<!-- top navigation -->
<div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      {% if g.user.is_authenticated and g.user.getmaster.picture is not none %}
                          <img src="{{ g.user.getmaster.picture }}" alt="">{{ g.user.username }}
                      {% else %}
                          <img src="{{ g.systemsetting.picture }}" alt="">{{ g.user.username }}
                      {% endif %}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                      {% if g.user.is_authenticated %}
                          <li>
                              <a href="{{ url_for('UserProfile', username=g.user.username) }}">Profile</a>
                          </li>
                      {% else %}
                          <li class="disabled">
                              <a class="disabled" href="#"> Profile</a>
                          </li>
                      {% endif %}
                    <li><a href="{{ url_for('page_help') }}">Help</a></li>
                      <li>
                          {% if g.user.is_authenticated %}
                              <a href="{{ url_for('UserLogout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                          {% else %}
                              <a href="{{ url_for('UserLogin') }}"><i class="fa fa-sign-out pull-right"></i> Log In</a>
                          {% endif %}
                      </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
<!-- /top navigation -->
