{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/static/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <link href="/static/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/static/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="/static/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <link href="/static/build/css/custom.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock head %}

{% block container %}
    {{ super() }}
    <div class="container body">
        <div class="main_container">
            {% include 'left_col.html' %}
            {% include 'top_navigation.html' %}



             <div class="right_col" role="main">
                 <div class="row">


                        <div class="col-md-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>WebSite Manager<small>Setting</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <iframe name="websiteform" style="display: none"></iframe>
                                    <form target='websiteform' class="form-horizontal form-label-left" method="post" action="{{ url_for('WebsiteManager') }}">
                                        {{ form.csrf_token() }}
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">WebSite Title</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form.title(class='form-control', id='title') }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="websitename">WebSite Name</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form.websitename(class='form-control', id='websitename') }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="about_website">About WebSite
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ form.about_website(class='form-control', id='about_website') }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uploadpicture">User Picture</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="btn btn-upload" type="file" name="uploadpicture" id="uploadpicture" multiple>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="websiteimage">Website Image</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="btn btn-upload" type="file" name="websiteimage" id="websiteimage" multiple>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="websiteicon">Website Icon</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="btn btn-upload" type="file" name="websiteicon" id="websiteicon" multiple>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button type="submit" class="btn btn-primary">Cancel</button>
                                                {{ form.submit(class='btn btn-success', id='submit') }}
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                </div>
             </div>

            {% include 'footer.html' %}
        </div>
    </div>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/js/moment/moment.min.js"></script>
    <script src="/static/js/datepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script src="/static/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.min.js"></script>

    <script src="{{ url_for('static', filename='js/uploadfile/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uploadfile/jquery.iframe-transport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uploadfile/jquery.fileupload.js') }}"></script>

    <script>
        $(document).ready(function () {
            var csrftoken = $('meta[name=csrf-token]').attr('content');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }

            });
            $('#uploadpicture').fileupload({
                url: '{{ url_for('UploadPicture') }}',
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                }
            });
            $('#websiteicon').fileupload({
                url: '{{ url_for('WebsiteIcon') }}',
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                }
            });
            $('#websiteimage').fileupload({
                url: '{{ url_for('WebsiteImage') }}',
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                }
            })
        })
    </script>
{% endblock container %}